.start-container {
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    align-items: center;

    &__image {
        height: 200px;
        width: 100%;
    }

    &__logo {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }

    &__header {
        text-align: center;
        color: white;
        font-size: 60px;
        text-shadow: 0 2px 2px black;
        margin: -45px auto 45px;
    }

    &__button {
        font-family: 'Titillium Web', sans-serif;
        font-size: 16px;
        background-color: yellow;
        padding: 20px;
        border-radius: 10px;
        border: none;
        width: 260px;
        cursor: pointer;
        font-weight: bold;
        text-transform: uppercase;
        box-shadow: 0 2px 2px black;
    }
}