.canvas {
    width: 100vw;
    height: 100vh;

    &--hidden {
        display:none
    }

    &__container{
        display: flex;
        justify-content: center;
        flex-flow: row wrap;
        justify-content: space-around;
        width: 600px;
        height: 100vh;
        perspective: 600px;
        margin: 0 auto;
    }

    .card__container {
        width: 20%;
        height: 20%;
        /* border: 1px solid #CCC; */
        margin: 2%;
        perspective: 600px;
    }

    .card {
        width: 100%;
        height: 100%;
        transition: transform 1s;
        transform-style: preserve-3d;
        cursor: pointer;
        position: relative;

        &--isflipped,
        &--still {
            transform: rotateY(180deg);
        }

        &__face {
            position: absolute;
            width: 100%;
            height: 100%;
            line-height: 260px;
            text-align: center;
            font-weight: bold;
            font-size: 40px;
            backface-visibility: hidden;
            border-radius: 4px;
            background-color: white;
            box-shadow: 2px 2px 8px rgba(0,0,0,0.4);
        }

        &--front {
            background: white url('./../../img/marvel-logo.png') no-repeat center center;
            background-size: 62%;
        }
        &--back {
            transform: rotateY( 180deg );
        }

        &--image {
            border-radius: 4px;
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }

    &__loading {
        color: white;
        font-size: 18px;
        align-self: center;

        &:after {
            overflow: hidden;
            display: inline-block;
            vertical-align: bottom;
            -webkit-animation: ellipsis steps(4,end) 900ms infinite;
            animation: ellipsis steps(4,end) 900ms infinite;
            content: "\2026"; /* ascii code for the ellipsis character */
            width: 0px;
        }
    }

    @keyframes ellipsis {
        to {
            width: 1.25em;
        }
    }

    @-webkit-keyframes ellipsis {
        to {
            width: 1.25em;
        }
    }
}