@import url('https://fonts.googleapis.com/css?family=Titillium+Web:400,600,700');

body {
  font-family: 'Titillium Web', sans-serif;
  margin: 0;
  background: url('./img/pattern.jpg');
}

.canvas {
  width: 100vw;
  height: 100vh;
}

.canvas__container{
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  justify-content: space-around;
  width: 600px;
  height: 100vh;
  perspective: 600px;
  margin: 0 auto;
}

.card__container {
  width: 20%;
  height: 20%;
  /* border: 1px solid #CCC; */
  margin: 2%;
  perspective: 600px;
}


.card {
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
}

.card--isflipped,
.card--still {
  transform: rotateY(180deg);
}

.card__face {
  position: absolute;
  width: 100%;
  height: 100%;
  line-height: 260px;
  text-align: center;
  font-weight: bold;
  font-size: 40px;
  backface-visibility: hidden;
  border-radius: 4px;
  background-color: white;
  box-shadow: 2px 2px 8px rgba(0,0,0,0.4);
}

.card--front {
    background: white url('img/marvel-logo.png') no-repeat center center;
    background-size: 62%;
}

.card--back {
  transform: rotateY( 180deg );
}

.card--image {
  border-radius: 4px;
  height: 100%;
  width: 100%;
  object-fit: cover;
}


